<% provide(:title, 'All users') %>

<h1>All users</h1>

<p>Total users: <%= @users.count %></p>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
      <%= render user %>
  <% end %>
</ul>

<%= will_paginate %>
